html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li,
figure {
  margin: 0;
  padding: 0;
  line-height: 1;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 9999;
}
.header .header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 1000px;
  height: 100px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header .header__wrap {
    height: 60px;
  }
}
.header .header__wrap .header__logo {
  width: 100%;
}
.header .header__wrap .header__logo .header__logoImg {
  position: fixed;
  top: 20px;
  height: 80px;
}
@media (max-width: 767px) {
  .header .header__wrap .header__logo .header__logoImg {
    height: 50px;
  }
}
@keyframes hamburger-animation01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@keyframes hamburger-animation02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}
.header .header__wrap .header__humBtn {
  display: block;
  width: 60px;
  height: 80px;
  transform: translate(0, 0);
  transition: all 0.5s;
  cursor: pointer;
  z-index: 10;
}
.header .header__wrap .header__humBtn .header__humBtn--line {
  display: block;
  position: absolute;
  height: 3px;
  right: 0;
  transition: all 0.5s;
  background-color: #f59b00;
}
.header .header__wrap .header__humBtn .header__humBtn--line:nth-child(1) {
  top: 30px;
  width: 60px;
  animation: hamburger-animation01 7000ms infinite;
}
.header .header__wrap .header__humBtn .header__humBtn--line:nth-child(2) {
  top: 40px;
  width: 30px;
  animation: hamburger-animation02 5000ms infinite;
  animation-delay: 0.33s;
}
.header .header__wrap .header__humBtn .header__humBtn--line:nth-child(3) {
  top: 50px;
  width: 20px;
  animation: hamburger-animation02 5000ms infinite;
}
.header .header__wrap .header__humBtn.open .header__humBtn--line {
  background: #f59b00;
  width: 30px;
}
.header .header__wrap .header__humBtn.open .header__humBtn--line:nth-child(1) {
  transform: translate(0, 10px) rotate(-45deg);
  animation: unset;
}
.header .header__wrap .header__humBtn.open .header__humBtn--line:nth-child(2) {
  opacity: 0;
  animation: unset;
}
.header .header__wrap .header__humBtn.open .header__humBtn--line:nth-child(3) {
  transform: translate(0, -10px) rotate(45deg);
  animation: unset;
}
.header .header__wrap .header__nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/img_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.header .header__wrap .header__nav .header__navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .header__wrap .header__nav .header__navList .header__navItem {
  padding: 40px 0;
}
.header .header__wrap .header__nav .header__navList .header__navItem a {
  color: #f59b00;
  font-size: 2.5rem;
  font-family: "Noto Sans CJK JP";
}
.header .header__wrap .header__nav .header__navList .header__navItem a .after__hover {
  display: none;
}
.header .header__wrap .header__nav .header__navList .header__navItem a:hover .before__hover {
  display: none;
}
.header .header__wrap .header__nav .header__navList .header__navItem a:hover .after__hover {
  display: inline;
}

.sect__wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.sect__wrap .sect__ttl {
  font-family: Didot;
  font-style: italic;
  font-size: 8rem;
  color: #b2b2b2;
  margin-bottom: 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sect__wrap .sect__ttl {
    font-size: 5rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .sect__wrap .sect__ttl {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
  }
}

.footer {
  background-image: url(../../images/img_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 80px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 0px;
  }
}
.footer .footer__wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.footer .footer__wrap .footer__logo {
  width: 20%;
  margin: 0 auto 40px auto;
}
.footer .footer__wrap .footer__txtArea {
  width: auto;
  margin: 0 auto 30px auto;
}
@media (min-width: 1025px) {
  .footer .footer__wrap .footer__txtArea {
    width: 55%;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer .footer__wrap .footer__txtArea {
    width: 55%;
    margin-bottom: 40px;
  }
}
.footer .footer__wrap .footer__txtArea dl {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer__txtArea dl {
    flex-direction: column;
    align-items: normal;
    text-align: center;
  }
}
.footer .footer__wrap .footer__txtArea dl dt {
  font-family: Didot;
  font-size: 2.4rem;
  font-style: italic;
  color: #fff;
  width: 30%;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer__txtArea dl dt {
    font-size: 1.6rem;
    width: auto;
  }
}
.footer .footer__wrap .footer__txtArea dl dd {
  font-family: "Noto Sans CJK JP";
  font-size: 1.6em;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer__txtArea dl dd {
    font-size: 1.3rem;
  }
}
.footer .footer__wrap .footer__txtArea :nth-child(2) {
  margin-bottom: 0;
}
.footer .footer__wrap .footer_contBtn {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer_contBtn {
    margin-bottom: 30px;
  }
}
.footer .footer__wrap .footer_contBtn a {
  color: #333;
  font-size: 1.6em;
  font-weight: bold;
  background-color: #f59b00;
  padding: 18px 30px;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer_contBtn a {
    width: 50%;
    margin: 0 auto;
    font-size: 1.3em;
    padding: 10px 15px;
  }
}
.footer .footer__wrap .footer_contBtn a::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #fff;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.footer .footer__wrap .footer_contBtn a:hover {
  color: #f59b00;
}
.footer .footer__wrap .footer_contBtn a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.footer .footer__wrap .footer__instIco {
  width: 4.8%;
  margin: 0 auto 40px auto;
}
@media (max-width: 767px) {
  .footer .footer__wrap .footer__instIco {
    width: 6%;
    margin-bottom: 30px;
  }
}
.footer .footer__cp {
  text-align: center;
  color: #fff;
}

.anchor-btn a {
  color: #333;
  font-size: 1.6em;
  font-weight: bold;
  background-color: transparent;
  padding: 18px 30px;
  border: solid 1px #333;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  display: block;
  width: 20%;
  text-align: center;
}
@media (max-width: 767px) {
  .anchor-btn a {
    width: 50%;
    margin: 0 auto;
    font-size: 1.3em;
    padding: 10px 15px;
  }
}
.anchor-btn a::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #333;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.anchor-btn a:hover {
  color: #fff;
}
.anchor-btn a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.mv {
  width: 100vw;
}
.mv .mv__img--bg {
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 0%);
          clip-path: polygon(100% 0, 0 100%, 0 0%);
}
.mv .mv__img--bg img {
  height: 100%;
}
.mv .mv__img--main {
  position: absolute;
  top: 0%;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.mv .mv__img--main img {
  height: 100%;
  filter: saturate(0);
  transition: 0.3s;
}
.mv .mv__img--main img:hover {
  filter: saturate(1);
}
.mv .mv__cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.mv .mv__cont .mv__pageTtl {
  position: absolute;
  top: 45%;
  left: 25%;
  font-size: 12rem;
  font-family: Didot;
  color: #fff;
  font-style: italic;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mv .mv__cont .mv__pageTtl {
    font-size: 8rem;
    top: 18%;
  }
}
@media (max-width: 767px) {
  .mv .mv__cont .mv__pageTtl {
    font-size: 4rem;
    top: 14%;
    left: 13%;
  }
}
.mv .mv__cont .mv__page--subTtl {
  position: absolute;
  top: 63%;
  left: 26%;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mv .mv__cont .mv__page--subTtl {
    top: 25%;
    left: 24%;
  }
}
@media (max-width: 767px) {
  .mv .mv__cont .mv__page--subTtl {
    font-size: 1.3rem;
    top: 21%;
    left: 12%;
  }
}

.webdesign {
  margin: 150px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .webdesign {
    margin: 100px 0;
  }
}
@media (max-width: 767px) {
  .webdesign {
    margin: 80px 0;
  }
}
.webdesign .webdesign__ttl {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .webdesign .webdesign__ttl {
    transform: translateX(-50px);
  }
}
.webdesign .fadeIn__left {
  opacity: 1;
  transform: translateY(0);
}
.webdesign .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 1025px) {
  .webdesign .webdesign__flexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.webdesign .webdesign__flexBox .webdesign__img {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .webdesign .webdesign__flexBox .webdesign__img {
    width: 48%;
  }
}
.webdesign .webdesign__flexBox .webdesign__img .webdesign__img-dtl {
  margin-top: 20px;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .webdesign .webdesign__flexBox .webdesign__img .webdesign__img-dtl {
    margin-top: 10px;
  }
}
.webdesign .webdesign__flexBox .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}

.banner {
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .banner {
    margin-bottom: 80px;
  }
}
.banner .banner__ttl {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
  text-align: center;
}
@media (min-width: 1025px) {
  .banner .banner__ttl {
    text-align: right;
    transform: translateX(50px);
  }
}
.banner .fadeIn__right {
  opacity: 1;
  transform: translateY(0);
}
.banner .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 1025px) {
  .banner .banner__flexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.banner .banner__flexBox .banner__img {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .banner .banner__flexBox .banner__img {
    width: 48%;
  }
}
.banner .banner__flexBox .banner__img .banner__img-dtl {
  margin-top: 20px;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .banner .banner__flexBox .banner__img .banner__img-dtl {
    margin-top: 10px;
  }
}
.banner .banner__flexBox .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-bottom: 80px;
  }
}
.logo .logo__ttl {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .logo__img {
  width: 40%;
  margin: 0 auto 40px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .logo__img img {
  width: 100%;
  height: 280px;
}
.logo .logo__msg {
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  width: 63%;
  margin: 0 auto;
  line-height: 2;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}

.mv__gendouryoku {
  height: 100vh;
  background-image: url(../images/gendouryoku_moc-up_pc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .mv__gendouryoku {
    background-image: url(../images/gendouryoku_moc-up_sp.jpg);
    height: 40vh;
  }
}

.gendouryoku__wrap {
  margin: 150px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gendouryoku__wrap {
    margin: 100px auto;
  }
}
@media (max-width: 767px) {
  .gendouryoku__wrap {
    margin: 80px auto;
  }
}
.gendouryoku__wrap .prod__ttl {
  font-size: 4rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
  text-align: center;
  position: relative;
  padding: 0 55px;
  margin-bottom: 80px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__ttl {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 40px;
  }
}
.gendouryoku__wrap .prod__ttl::before, .gendouryoku__wrap .prod__ttl::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #333;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__ttl::before, .gendouryoku__wrap .prod__ttl::after {
    width: 35%;
  }
}
.gendouryoku__wrap .prod__ttl::before {
  left: 0;
}
.gendouryoku__wrap .prod__ttl::after {
  right: 0;
}
.gendouryoku__wrap .prod__ttl .prod__url {
  display: block;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__ttl .prod__url {
    font-size: 1.3rem;
  }
}
.gendouryoku__wrap .prod__cont {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__cont {
    margin-bottom: 40px;
  }
}
.gendouryoku__wrap .prod__cont .prod__contTtl {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Noto Sans CJK JP";
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: dotted 1px #333;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__cont .prod__contTtl {
    font-size: 1.8rem;
  }
}
.gendouryoku__wrap .prod__cont .prod__contTxt {
  font-feature-settings: "palt";
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  font-weight: lighter;
  color: #333;
  line-height: 2;
}
.gendouryoku__wrap .prod__imgPc {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__imgPc {
    margin-bottom: 40px;
  }
}
.gendouryoku__wrap .prod__dtl {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__dtl {
    display: block;
  }
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange, .gendouryoku__wrap .prod__dtl .prod__dtlTool, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod {
  width: 30%;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__dtl .prod__dtlRange, .gendouryoku__wrap .prod__dtl .prod__dtlTool, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod {
    width: 100%;
  }
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
  text-align: center;
  background-color: #e6e6e6;
  padding: 20px;
  font-size: 2rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
    font-size: 1.6rem;
  }
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlTxt, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlTxt, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTxt {
  font-weight: lighter;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlList, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlList, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList {
  list-style: circle;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem {
  margin-bottom: 16px;
  font-weight: lighter;
}
.gendouryoku__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem:last-child, .gendouryoku__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem:last-child, .gendouryoku__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem:last-child {
  margin-bottom: 0;
}

.mv__brave {
  height: 100vh;
  background-image: url(../images/brave-hp.com_mock-up_pc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .mv__brave {
    background-image: url(../images/brave-hp.com_mock-up_sp.jpg);
    height: 40vh;
  }
}

.brave__wrap {
  margin: 150px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .brave__wrap {
    margin: 100px auto;
  }
}
@media (max-width: 767px) {
  .brave__wrap {
    margin: 80px auto;
  }
}
.brave__wrap .prod__ttl {
  font-size: 4rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
  text-align: center;
  position: relative;
  padding: 0 55px;
  margin-bottom: 80px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .brave__wrap .prod__ttl {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 40px;
  }
}
.brave__wrap .prod__ttl::before, .brave__wrap .prod__ttl::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 33%;
  height: 1px;
  background-color: #333;
}
@media (max-width: 767px) {
  .brave__wrap .prod__ttl::before, .brave__wrap .prod__ttl::after {
    width: 35%;
  }
}
.brave__wrap .prod__ttl::before {
  left: 0;
}
.brave__wrap .prod__ttl::after {
  right: 0;
}
.brave__wrap .prod__ttl .prod__url {
  display: block;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .brave__wrap .prod__ttl .prod__url {
    font-size: 1.3rem;
  }
}
.brave__wrap .prod__cont {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .brave__wrap .prod__cont {
    margin-bottom: 40px;
  }
}
.brave__wrap .prod__cont .prod__contTtl {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Noto Sans CJK JP";
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: dotted 1px #333;
}
@media (max-width: 767px) {
  .brave__wrap .prod__cont .prod__contTtl {
    font-size: 1.8rem;
  }
}
.brave__wrap .prod__cont .prod__contTxt {
  font-feature-settings: "palt";
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  font-weight: lighter;
  color: #333;
  line-height: 2;
}
.brave__wrap .prod__imgPc {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .brave__wrap .prod__imgPc {
    margin-bottom: 40px;
  }
}
.brave__wrap .prod__imgSp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.brave__wrap .prod__imgSp picture {
  width: 30%;
}
.brave__wrap .prod__dtl {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .brave__wrap .prod__dtl {
    display: block;
  }
}
.brave__wrap .prod__dtl .prod__dtlRange, .brave__wrap .prod__dtl .prod__dtlTool, .brave__wrap .prod__dtl .prod__dtlPeriod {
  width: 30%;
}
@media (max-width: 767px) {
  .brave__wrap .prod__dtl .prod__dtlRange, .brave__wrap .prod__dtl .prod__dtlTool, .brave__wrap .prod__dtl .prod__dtlPeriod {
    width: 100%;
  }
}
.brave__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
  text-align: center;
  background-color: #e6e6e6;
  padding: 20px;
  font-size: 2rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .brave__wrap .prod__dtl .prod__dtlRange .prod__dtlTtl, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlTtl, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTtl {
    font-size: 1.6rem;
  }
}
.brave__wrap .prod__dtl .prod__dtlRange .prod__dtlTxt, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlTxt, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlTxt {
  font-weight: lighter;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.brave__wrap .prod__dtl .prod__dtlRange .prod__dtlList, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlList, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList {
  list-style: circle;
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
.brave__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem {
  margin-bottom: 16px;
  font-weight: lighter;
}
.brave__wrap .prod__dtl .prod__dtlRange .prod__dtlList .prod__dtlItem:last-child, .brave__wrap .prod__dtl .prod__dtlTool .prod__dtlList .prod__dtlItem:last-child, .brave__wrap .prod__dtl .prod__dtlPeriod .prod__dtlList .prod__dtlItem:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=app.css.map */