.mv {
  width: 100vw;
}
.mv .mv__img--bg {
  -webkit-clip-path: polygon(100% 0, 0 100%, 0 0%);
          clip-path: polygon(100% 0, 0 100%, 0 0%);
}
.mv .mv__img--bg img {
  height: 100%;
}
.mv .mv__img--main {
  position: absolute;
  top: 0%;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.mv .mv__img--main img {
  height: 100%;
  filter: saturate(0);
  transition: 0.3s;
}
.mv .mv__img--main img:hover {
  filter: saturate(1);
}
.mv .mv__cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.mv .mv__cont .mv__pageTtl {
  position: absolute;
  top: 45%;
  left: 25%;
  font-size: 12rem;
  font-family: Didot;
  color: #fff;
  font-style: italic;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mv .mv__cont .mv__pageTtl {
    font-size: 8rem;
    top: 18%;
  }
}
@media (max-width: 767px) {
  .mv .mv__cont .mv__pageTtl {
    font-size: 4rem;
    top: 14%;
    left: 13%;
  }
}
.mv .mv__cont .mv__page--subTtl {
  position: absolute;
  top: 63%;
  left: 26%;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mv .mv__cont .mv__page--subTtl {
    top: 25%;
    left: 24%;
  }
}
@media (max-width: 767px) {
  .mv .mv__cont .mv__page--subTtl {
    font-size: 1.3rem;
    top: 21%;
    left: 12%;
  }
}

.webdesign {
  margin: 150px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .webdesign {
    margin: 100px 0;
  }
}
@media (max-width: 767px) {
  .webdesign {
    margin: 80px 0;
  }
}
.webdesign .webdesign__ttl {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .webdesign .webdesign__ttl {
    transform: translateX(-50px);
  }
}
.webdesign .fadeIn__left {
  opacity: 1;
  transform: translateY(0);
}
.webdesign .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 1025px) {
  .webdesign .webdesign__flexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.webdesign .webdesign__flexBox .webdesign__img {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .webdesign .webdesign__flexBox .webdesign__img {
    width: 48%;
  }
}
.webdesign .webdesign__flexBox .webdesign__img .webdesign__img-dtl {
  margin-top: 20px;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .webdesign .webdesign__flexBox .webdesign__img .webdesign__img-dtl {
    margin-top: 10px;
  }
}
.webdesign .webdesign__flexBox .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}

.banner {
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .banner {
    margin-bottom: 80px;
  }
}
.banner .banner__ttl {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
  text-align: center;
}
@media (min-width: 1025px) {
  .banner .banner__ttl {
    text-align: right;
    transform: translateX(50px);
  }
}
.banner .fadeIn__right {
  opacity: 1;
  transform: translateY(0);
}
.banner .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 1025px) {
  .banner .banner__flexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.banner .banner__flexBox .banner__img {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
@media (min-width: 1025px) {
  .banner .banner__flexBox .banner__img {
    width: 48%;
  }
}
.banner .banner__flexBox .banner__img .banner__img-dtl {
  margin-top: 20px;
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  color: #333;
}
@media (max-width: 767px) {
  .banner .banner__flexBox .banner__img .banner__img-dtl {
    margin-top: 10px;
  }
}
.banner .banner__flexBox .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-bottom: 80px;
  }
}
.logo .logo__ttl {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .logo__img {
  width: 40%;
  margin: 0 auto 40px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .logo__img img {
  width: 100%;
  height: 280px;
}
.logo .logo__msg {
  font-size: 1.6rem;
  font-family: "Noto Sans CJK JP";
  width: 63%;
  margin: 0 auto;
  line-height: 2;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.logo .fadeIn__bottom {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */